* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;

}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll; 
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
  font-size: 50px;
  line-height: 1.35;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: flex-end;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 18px;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
 
  /* Scroll Snap */
  scroll-snap-align: center;
}

section h1 {
  font-size: 4rem;
}

/* Section Images */
section#home {
  background: url("PAGE_3_BACK\ \(1\).jpg") no-repeat center center/cover;;
}

section#about {
  background: url("PAGE_2_BACK\ \(1\).jpg") no-repeat center center/cover;;
}

section#service {
  background: url("PAGE_1_BACK\ \(3\).jpg") no-repeat center center/cover;;
}


/* Logo */

.logo{
  position: absolute;
  left: 30px;
  top: 5px;
  width: 140px;
  height: 50px;
}

.logo_2{
  width: 500px;
}

.logo_3{
  width: 300px;
  position: fixed;
  right: 90px;
  bottom: 30px;
}


/* Welcome */


/* About */

.contain{
  display: flex;
  margin: 1rem;
}

.text h2{
  text-align: left;
  padding: 10px 0px;
  font-size: 30px;
}
.text p{
  text-align: left;
}

.text{
  position: relative;
  left: 75px;
  bottom: 20px;
}

.text img{
  position: relative;
}

.gui_interface img{
  border-radius: 10px;
}

/* Button */

.download{
  height: 50px;
  width: 200px;
  background-color: #0072FF;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  color: white;
}

.download_nav{
  height: 30px; 
  width: 120px; 
  background-color: #0072FF;
  font-size: 18px;
  outline: none;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
}

/* Scroll Bar */

::-webkit-scrollbar{
  width: 5px;
}

::-webkit-scrollbar-track{
  border: 7px soild#0088a9 ;

} 

::-webkit-scrollbar-thumb{
  background:#0088a9 ;
  border-radius: 100px;

} 

.moveup{
  position: relative;
  bottom: 50px;
}


/* 
div::-webkit-scrollbar {
  display: none;
}
*/

/* Fill Text */

a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

/* Responsive */


@media only screen and (max-width: 900px) {
  .lead {
    font-size: 1.5rem;
    font-size: 45px;
    padding: 0 1rem;
  }
} 

@media only screen and (max-width: 1136px) {
  .logo{
    display: none;
  }
  .navbar ul {
    justify-content: center;
  }
  .gui_interface img{
    display: none;
  }  
  .text{
    margin: 0 auto 0 auto;
    position: static;
  }
  div::-webkit-scrollbar {
    display: none;
  }
  .navbar ul li a {
    font-size: 16px;
  }
  .download_nav{
    height: 25px; 
    width: 110px; 
    background-color: #0072FF;
    font-size: 16px;
    outline: none;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .logo_2{
    width: 400px;
  }
  .lead {
    font-size: 1.5rem;
    font-size: 40px;
    padding: 0 1rem;
  }
}
@media only screen and (max-width: 496px) {
  .text h2{
    font-size: 24px;
  }
  .logo_3{
    width: 200px;
  }
}

@media only screen and (max-width: 700px) {
  .logo{
    display: none;
  }
  .navbar ul {
    justify-content: center;
  }
  .gui_interface img{
    display: none;
  }  
  .text{
    margin: 0 auto 0 auto;
    position: static;
  }
  div::-webkit-scrollbar {
    display: none;
  }
  .navbar ul li a {
    font-size: 16px;
  }
  .download_nav{
    height: 25px; 
    width: 110px; 
    background-color: #0072FF;
    font-size: 16px;
    outline: none;
    border-radius: 25px;
    border: none;
    color: white;
    cursor: pointer;
  }
  .logo_2{
    width: 400px;
  }
  .lead {
    font-size: 1.5rem;
    font-size: 40px;
    padding: 0 1rem;
  }
}


@media only screen and (max-width: 477px) {
  .w{
    display: none;
  }
  .w2{
    display: none;
    position: relative;
  }
  .imp{
    display: visible;
    position: relative;
    left: 50px;
  }
  .logo{
    display: block;
    left: 20px auto;
    top: 20px auto;
  }
}

/*

@media only screen and (max-width: 442px) {
  .navbar ul li a {
    font-size: 15px;
  }
  .download_nav{
    height: 25px; 
    width: 85px; 
    font-size: 15px;
  }
}
*/



@media only screen and (max-width: 432px) {
  .navbar ul li a {
    font-size: 14px;
  }
  .download_nav{
    height: 25px; 
    width: 85px; 
    font-size: 14px;
  }
  .logo{
    display: block;
    left: 20px auto;
    top: 20px auto;
  }
}

@media only screen and (max-width: 415px) {
  .navbar ul li a {
    font-size: 12px;
    position: relative;
    bottom: 5px;
  }
  .download_nav{
    height: 20px; 
    width: 90px; 
    font-size: 12px;
  }
  .navbar{
    height: 50px;
  }
}

@media only screen and (max-width: 412px) {
  .navbar ul li a {
    font-size: 13px;
    position: relative;
    bottom: 5px;
  }
  .download_nav{
    height: 22px; 
    width: 90px; 
    font-size: 13px;
  }
  .navbar{
    height: 50px;
  }
}

/*

@media only screen and (max-width: 397px) {
  .navbar ul li a {
    font-size: 12px;
    position: relative;
    bottom: 5px;
  }
  .download_nav{
    height: 20px; 
    width: 60px; 
    font-size: 12px;
  }
  .navbar{
    height: 50px;
  }
}

*/

@media only screen and (max-width: 376px) {
  .logo_3{
    width: 160px;
    margin-top: 5px;
  }
  .download_nav{
    height: 20px; 
    width: 90px; 
    font-size: 12px;
  }
}

/*
@media only screen and (max-width: 366px) {
  .navbar ul li a {
    font-size: 11px;
    position: relative;
    bottom: 5px;
  }
  .download_nav{
    height: 20px; 
    width: 58px; 
    font-size: 11px;
  }
  .navbar{
    height: 50px;
  }
}
*/




@media only screen and (max-width: 361px) {
  .logo_3{
    width: 130px;
    margin-top: 10px;
  }
}

